body{
    margin: 0;
    padding: 0;
}

#top{
    padding: 20px 0;
    border-bottom: 1px solid;
}

.col-md-4 {
    margin-top: 32px !important;
}
#teamworkline{
    background-color: yellow;
}
#allrightreserved{
    text-align: center;
    font-size: x-small;
}
